// $accent: #fe3e57;
// $defoult: #8d8d8d;
// $title: #29282d;
// $bg: #f6f6f6;
// $border: #ececec;

%inter-300 {
  font-family: "Inter-Light", sans-serif;
  font-weight: 300;
}
%inter-400 {
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
}
%inter-500 {
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
}
%inter-600 {
  font-family: "Inter-SemiBold", sans-serif;
  font-weight: 500;
}
%inter-700 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 500;
}

// %btn{
//     cursor: pointer;
//     padding: 12px 36px;
//     width: fit-content;
//     text-transform: uppercase;
//     color: #ffffff;
//     @extend %roboto-400;
//     background-color: $accent;
//     border: 1px solid transparent;
//     box-shadow: 7px 7px 20px #fe3e575e;
//     &:hover {
//             background-color: #ff0021;
//             border: 1px solid #ffffff;
//         }
// }

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
